.header
  .zs-sign
.uk-vertical-align.uk-text-center.uk-height-1-1
  form.uk-form.uk-vertical-align-middle.zs-form(name='stateForm')
    .uk-form-row.uk-container-center
      .uk-form-icon
        .uk-icon-hash
        input(type="text" placeholder="" ng-model='state.emotions[0].name'
        uib-popover-html='popover.emotion.messages'
        popover-placement="top" popover-trigger="none"
        popover-is-open="popover.emotion.state"
        popover-animation='true'
        popover-append-to-body='false'
        ng-change='onChange(state.emotions[0].name)' required)
    .uk-form-row.uk-container-center
      .uk-form-icon
        .uk-icon-at
        input(type="text" placeholder="" ng-model='state.record.title' required)
.footer
  .uk-form-row
    button.btn-floating.btn-large.white.zs-button(ng-click='submit(stateForm)') STATE IT
