.header
  .zs-sign
.uk-vertical-align.uk-text-center.uk-height-1-1
  form.uk-form.uk-vertical-align-middle.zs-form(name='stateForm' novalidate)
    .uk-form-row.uk-container-center
      .uk-form-icon
        .uk-icon-hash
        input(type="text" placeholder="" ng-model='state.emotions[0].name'
        uib-popover-html='popover.emotion.messages'
        popover-placement="top" popover-trigger="none"
        popover-is-open="popover.emotion.state && popover.emotion.focus"
        popover-animation='true'
        focus="popover.emotion.focus" pattern='[a-zа-яё]' required)
    .uk-form-row.uk-container-center
      .uk-form-icon
        .uk-icon-at
        input(type="text" placeholder="" ng-model='state.record.title' required)
    .uk-form-row.zs-button-box
      button.btn-floating.btn-large.white.zs-button(ng-click='submit(stateForm)') STATE IT

  .clearfix