.header
  .zs-sign
.uk-vertical-align.uk-text-center.uk-height-1-1
  form.uk-form.uk-vertical-align-middle.zs-form
    .uk-form-row.uk-container-center
      .uk-form-icon
        .uk-icon-hash
        input(type="text" placeholder="" ng-model='state.emotions[0].name'
        uib-popover-html='popover.emotion.messages'
        popover-placement="top" popover-trigger="none"
        popover-is-open="popover.emotion.state"
        popover-animation='true'
        ng-change='onChange(state.emotions[0].name)')
    .uk-form-row.uk-container-center
      .uk-form-icon
        .uk-icon-hash
        input(type="text" placeholder="" ng-model='state.record.title')
.footer
  .uk-form-row
    button.btn-floating.btn-large.white.zs-button(ng-click='submit()') STATE IT
